
*{
    box-sizing: border-box;
}

body {
    margin: 0;
}

.header {
    background-color: #276b34;
    padding: 10px 30px;
}

.header .logo img {
    width: 70px
}

.header .navbar a {
    text-decoration: underline;
    color: black;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    margin-right: 20px;
}

.header .navbar a:hover {
    color: aqua
}
.slider{
    background-image: url();
    height: 700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:cover;
}